In [1]:
import numpy as np
import zipfile
import pandas as pd
import tensorflow as tf
from urllib.request import urlretrieve

In [ ]:
#Download datasets into the 'notebooks files folder'
urlretrieve('http://files.grouplens.org/datasets/movielens/ml-100k.zip', '../Notebook files/movielens.zip.')

In [5]:
#Extract files.
local_zip = '../Notebook files/movielens.zip.'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('../Notebook files/')
zip_ref.close()

In [6]:
user_cols = ['user_id','age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('../Notebook files/ml-100k/u.user', sep = '|', names = user_cols, encoding = 'latin-1')

rating_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('../Notebook files/ml-100k/u.data', sep = '\t', names = rating_cols, encoding = 'latin-1')

In [7]:
ratings.head()

     user_id  movie_id     rating
196      242         3  881250949
186      302         3  891717742
22       377         1  878887116
244       51         2  880606923
166      346         1  886397596